body {
	font-family: HelveticaNeue;
	font-size: 18px;
	background: rgb(20,20,20);
	color: rgb(230,230,230);
}
#container {
	width: 960px;
	margin: 80px auto;
}
h1 {
	font-family: HelveticaNeueUltLt;
	text-align: center;
	font-size: 48px;
}
.divider {
	width: 100%;
	height: 1px;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.3), rgba(255,255,255,0));
	margin: 48px 0px;
}

#controls {
	text-align: center;
}
.button {
	display: inline-block;
	cursor: pointer;
	text-transform: uppercase;
	font-family: HelveticaNeueLt;
}
#start-marker {
	margin-left: 12px;
}